---
layout: default
title: Blog
nomenu: true
---
<div class="card bg-light">
<h3>Blog: Bester Liebhaber</h3>
</div>

{% for item in site.posts %}
<div class="card bg-light">
    <div class="row mr-0">
        <div class="col-md-2 pb-1 text-nowrap">{{ item.date | date_to_string }}</div>
        <div class="col-10">
           <h3>{{ item.title }}</a></h3>
            <div>{{ item.excerpt }}</div>
            {% assign total_paragraphs = item.content | split: '<p>' | size %}
            {% if total_paragraphs > 2 %}
            <em><a href="{{item.url}}">Mehr ...</a></em>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
