---
layout: default
title: "Work Experience"
order: 3
---
<div id="accordion">
    {% assign data = site.data.cv.experience | sort: 'start' | reverse %}
    {% for item in data %}
    <div class="card bg-light">

        <div class="row">
            <div class="col-md-2 order-md-2 pb-1">{{ item.start }}{% if item.end %} · {% endif %}{{ item.end }}</div>
            <div class="col-md-10">
                <h3>{{ item.position }}</h3>
                <div>{{ item.company }}{% if item.location %} · {% endif %}{{ item.location }}</div>
                <ul class="keywords">
                    {% for keyword in item.keywords %}
                    <li>{{ keyword }}&nbsp;</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="" id="card-header-{{forloop.index}}">
            <a data-toggle="collapse" role="button" aria-expanded="false" data-target="#detail-{{forloop.index}}"
                aria-controls="detail-{{forloop.index}}">
                Read more ...
            </a>
        </div>

        <div id="detail-{{forloop.index}}" class="collapse" aria-labelledby="card-header-{{forloop.index}}"
            data-parent="#accordion">
            <div class="card-body pb-1 pt-0">
                <ul class="tasks">
                    {% for task in item.tasks %}
                    <li>{{ task }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>