<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-block d-lg-none d-xl-none frame-colors fullsize d-flex justify-content-between align-items-center py-1 px-2">
        <button class="navbar-dark navbar-toggler flex-shrink-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Show navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include smallcontacts.html %}
    </div>
    <div class="collapse navbar-collapse content-colors" id="navbar">
        <ul class="navbar-nav ml-1">
        {% assign orderedPages = site.pages | sort: 'order' %}
        {% for pageItem in orderedPages %}
            {% if pageItem.order and pageItem.nomenu != 'false'%}
                {% if page.title == pageItem.title %}
                    {% assign active = 'active' %}
                {% else %}
                    {% assign active = ''%}
                {% endif %}
                <li class="nav-item {{active}}">
                    <a class="nav-link" href="{{ pageItem.url }}">{{pageItem.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>    
</nav>