---
---

@import "main";

static {
    overflow: hidden;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgb(82,83,99);
    color: lightgray;
}

dynamic {
    color: rgb(82,83,99);
    overflow: scroll;
    position: absolute;
    width: 100%;
    left: 20%;
}

static img {
    width: 160px;
}

static ul li img {
    width: 16px;
    height: 16px;
}

dynamic h3 {
    font-size: medium;
    color: rgb(149,38,29);
}

dynamic ul {
    padding-left: 0;
}

dynamic ul.keywords {    
    font-size: small;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    list-style: none;
}

dynamic .keywords li {
    color: rgb(149,38,29);
    display: inline;
}

dynamic .keywords li::after {
    content: "· ";
}

dynamic .keywords li:last-child::after {
    content: '';
}

dynamic .card {
    border: none;
}

dynamic a {
    font-size: small;
}

dynamic a[aria-expanded="true"] {
    display: none;
} 

dynamic div.card {
    margin-top: 2em;
}