---
---

@import "main";

static {
    overflow-x: hidden;
    position: fixed;
    width: 180px;
    height: 100%;
    display: block;
}

dynamic {
    margin-left: 180px;
    display: block;
}

static img {
    width: 160px;
}

static ul li img {
    width: 16px;
    height: 16px;
}

dynamic edu {
    display: block;
    width: 80%;
    padding-left: 4%;
    margin-bottom: 3em;
}

dynamic edu > div {
    clear: left;
    width: 70%;
}

dynamic work > div {
    clear: left;
    width: 70%;
}

dynamic edu div > div:first-child {
    width: 100px;
    float: left;
    padding-bottom: 4em;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 8px;
    border-right: 1px solid black;
}

dynamic edu div h3 {
    display: inline;
    font-size: 1em;
}

dynamic edu div > div:last-child {
    padding-bottom: 1em;
}