--- 
--- 

@import "main";

.content-colors {
    color: rgb(82, 83, 99);
    background-color: white;
}

.content-colors a, .content-colors a.nav-link {
    color: rgb(82, 83, 99)!important;
}

.content-colors a.nav-link {
    text-transform: uppercase;    
}

.content-colors li.active a.nav-link {
    font-weight: bold;
}

.content-colors h3, .content-colors li.active a.nav-link {
    color: rgb(149, 38, 29)!important;
}

.frame-colors {
    background-color: rgb(82, 83, 99);
    color: lightgray;
}

.frame-colors a, a.nav-link {
    color: lightgray!important;
}

.page {
    display: table;
}

#static {
    display: table-cell;
    overflow: hidden;
    height: 100%;
    width: 330px;
    left: 0;
}

#static #contacts {
    margin-left: 15%;
}

#dynamic {
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 10;
    display: table-cell;
}


@media only screen and (min-width: 992px) {
    #dynamic {
        margin-left: 330px;   
        width: unset;
    }
}

@media only screen and (min-width: 1330px) {
    #dynamic {
        max-width: 1000px;
        width: 100%;
    }
}

#static h1 {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#static h2 {
    font-size: 1rem;
    font-weight: bold;
}

#static ul {
    list-style: none;
    font-size: small;
    padding-left: 0;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

#static p {
    margin-top: 1.5rem;
}

#static li i {
    width: 1.2em;
}

#static li a {
    text-decoration: none;
    color: lightgrey;
}

#dynamic h3 {
    font-size: medium;
}

#dynamic ul.keywords, #dynamic ul.tasks {
    padding-left: 0;
}

#dynamic ul.keywords {
    font-size: small;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    list-style: none;
    max-width: 768px;
}

#dynamic .keywords li {
    color: rgb(149, 38, 29);
    display: inline;
}

#dynamic .keywords li::after {
    content: "· ";
}

#dynamic .keywords li:last-child::after {
    content: '';
}

#dynamic .card {
    border: none;
    margin-top: 1em;
    padding: 1em;
}

#dynamic a.expand-detail {
    font-size: small;
}

#dynamic a[aria-expanded="true"] {
    display: none;
}

img.thumb {
    width: 50px;
    margin: 2px 2px;
}

#smallcontacts {
    display: inline-block;
}

#smallcontacts a {
    font-size: large;
    display: inline-block;
    width:1.2em;
    text-decoration: none;
    color: lightgray;
}

@media only screen and (min-width: 465px) {
    #smallcontacts a {
        font-size: x-large;
        width: 2rem;
    }
}

.fullsize {
    width: 100%;
}

nav.navbar {
    padding: 0;
}

nav.navbar button {
    margin-top: 0.5em;
    margin-right: 0;
}

@media only screen and (min-width: 992px) {
    nav.navbar {
        padding: 1rem 1.5rem;        
    }
}

#navbar {
    border-bottom: 1px solid rgb(82, 83, 99);
}
